{% extends "base.html" %}
{% load static%}

{% block content %}

<!-- Start: Article List -->
<div class="article-list">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Best seller</h2>
            <p class="text-center">Here are some of the sale products. Enjoy shopping </p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Articles -->
        <div class="row articles">
            {% for product in product_list %}
            {% if  product.is_bestseller == True %}
            <div class="col-sm-6 col-md-4 item">
                <a href={{ product.get_absolute_url }}><img class="img-fluid" src={{ product.image.url }}></a>
                <h3 class="name">{{ product.name }}</h3>
                <p class="description">{{ product.Category }}</p>
                <h4>{{ product.price }}$</h4><a href="product/{{product.slug}}" class="action"><i
                        class="fa fa-arrow-circle-right d-xl-flex"
                        style="color: rgb(86,198,198);font-size: 36px;"></i></a>
            </div>
            {% endif %}
            {% endfor %}
            <!-- End: Articles -->
        </div>
    </div>
</div>
<!-- End: Article List -->
<hr>

<div class="container d-flex flex-column">
        
    <div class="row" style="height:250px">
        
        <div class="col"
            style="font-size: 16px;height: 198px;margin: 8px;padding: 0px;background-size: cover;background-position: center center;background-size: cover;background-repeat: no-repeat;margin-right: 12px;">
            <a href="category/accesories">
                <div class="category_image" style="background-image: url({% static '/img/apparel.jpg' %});">
                </div>
            </a>
            <a style='color:black' href="category/clothes">
                <h1>Clothes</h1>
            </a>
        </div>

        <div class="col"
            style="font-size: 16px;height: 198px;margin: 8px;padding: 0px;background-size: cover;background-position: center center;background-size: cover;background-repeat: no-repeat;">
            <a href="category/accesories">
                <div class="category_image"
                    style="background-image: url({% static '/img/accessories.jpg' %});/*width: 100%;*//*height: 25rem;*//*background-position: center center;*//*margin-bottom: 1rem;*/">
                </div>
            </a>
            <a style='color:black' href="category/accesories">
                <h1>Accesories</h1>
            </a>
        </div>

    </div>
    <div class="row" style="margin-top:13rem">
        <div class="col">
            <a href="category/drinks">
                <div class="category_image" style="background-image: url({% static '/img/groceries.jpg' %});">
                </div>
            </a>
            <a style='color:black' href="category/drinks">
                <h1>Drinks</h1>
            </a>
        </div>
    </div>
</div>
<br>
{% endblock %}