<!-- Start: Footer Dark -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <!-- Start: Services -->
                <div class="col-sm-6 col-md-3 item">
                    <h3>Giảng viên hướng dẫn</h3>
                    <ul>
                        <li>Nguyễn Văn Đức</li>
                    </ul>
                </div>
                <!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-6 col-md-3 item">
                    <h3>Giới thiệu</h3>
                    <ul>
                        <li>Phạm Bá Sơn</li>
                        <li>MSSV: 20173338</li>
                        <li>Lớp: KHMT-03</li>
                    </ul>
                </div>
                <!-- End: About -->
                <!-- Start: Footer Text -->
                <div class="col-md-6 item text">
                    <h3>Sản phẩm Project 1</h3>
                    <p>Xây dựng trang web thương mại điện tử sử dụng framework Django</p>
                </div>
                <!-- End: Footer Text -->
                <!-- Start: Social Icons -->
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                <!-- End: Social Icons -->
            </div>
            <!-- Start: Copyright -->
            <p class="copyright">ĐH Bách Khoa Hà Nội</p>
            <!-- End: Copyright -->
        </div>
    </footer>
</div>
<!-- End: Footer Dark -->
